[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
# flit should symlink osxdocker into bin dir of venv after `pipenv run dev_install`
dev_osxdocker = "python osxdocker/docker_logs.py"
dev_install = "flit install --symlink"
tests = "pytest"

[dev-packages]
black = "*"
rope = "*"
flit = "*"
pytest = "*"
docker = "*"

[packages]
fire = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
